@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.profile {
  box-shadow: 0 0 10px 5px #f59e0b;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.theme-nav-gradient {
  background-image: linear-gradient(90deg,#14b8a6,#22c55e);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.27);
}

.bg-theme-gradient {
  background-image: linear-gradient(90deg,#14b8a6,#22c55e);
}

.amber-gradient {
  background: rgb(245,158,11);
  background: linear-gradient(90deg, rgba(245,158,11,1) 0%, rgba(245,158,11,1) 16%, rgba(15,23,42,0.35760241596638653) 100%);
  @apply rounded-l-lg
}

.amber-red-gradient {
  background: linear-gradient(90.13deg, rgba(245,158,11,1) 1.9%, rgba(239, 68, 68, 1) 97.5%);
  background: -webkit-linear-gradient(-90.13deg, rgba(245,158,11,1) 1.9%, rgba(239, 68, 68, 1) 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #2f80ed,
          #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #2f80ed,
          #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hex-background {
  position: absolute;
  background-color: orange; /*color of the main-background*/
  top: 2px; /* equal to border thickness */
  left: 2px; /* equal to border thickness */
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
  position: absolute;
  object-fit: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.text-gradient {
  background-image: linear-gradient(90deg,#14b8a6,#22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-img:after {
  display: block;
  border: 6px solid #14b8a6;
  content: "";
  height: 100%;
  left: 34px;
  position: absolute;
  top: -34px;
  width: 100%;
  z-index: -1;
}

.menu > .inactive {
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
  transition: all 0.4s ease-in-out;
  transform: scale(0.9);
}

.menu > .active {
  z-index: 1000;
  visibility: visible;
  background: rgba(0, 0, 0, .9);
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.menu ul a.active {
  @apply text-teal-500 hover:text-teal-500;
}

.hobby-container .description {
  display: block;
  text-align: center;
  padding-top: .5rem;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}

.hobby-container:hover .description {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.vertical-timeline::before {
  @apply bg-teal-500;
}

.vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 0 4px #14b8a6, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
  box-shadow: 0 0 0 4px #14b8a6, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline-element-content {
  -webkit-box-shadow: 0 3px 0 #14b8a6;
  box-shadow: 0 3px 0 #14b8a6;
}

.contact-card {
  background: rgba(255, 255, 255, .1);
}