/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/poppins-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-100.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-100.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/poppins-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-200.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../public/fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
  url('../public/fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html, body {
  @apply bg-themeGrey-300;
}

.profile {
  box-shadow: 0 0 10px 5px #f59e0b;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.hero-profile {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @apply overflow-hidden w-44 h-44 lg:w-72 lg:h-72;
}
.hero-profile:after {
  content: '';
  background-image: url(./assets/profile.png);
  background-position: center center;
  background-size: contain;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  @apply absolute bottom-0 left-0 top-0 right-0;
}

.menu ul a.active {
  @apply bg-themeOrange-200;
}

.mobile-menu > .active {
  z-index: 1000;
  visibility: visible;
  background: rgba(0, 0, 0, .9);
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.mobile-menu > .inactive {
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
  transition: all 0.4s ease-in-out;
  transform: scale(0.9);
}

.mobile-menu ul a.active {
  @apply text-themeOrange-500 hover:text-themeOrange-500;
}

.hero-down {
  animation: fadeInDown 1.5s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-head-text {
  @apply inline text-6xl lg:text-9xl uppercase opacity-5 font-bold;
}

.section-sub-text {
  @apply absolute self-center text-white text-3xl lg:text-5xl font-semibold;
}

.vertical-timeline::before {
  @apply bg-teal-500;
}

.btn-scroll-top {
  transform: translate(-50%, 0);
}

.vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 0 4px #14b8a6, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
  box-shadow: 0 0 0 4px #14b8a6, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline-element-content {
  -webkit-box-shadow: 0 3px 0 #14b8a6;
  box-shadow: 0 3px 0 #14b8a6;
}

.contact-card {
  background: rgba(255, 255, 255, .1);
}

#contact-form > p {
  display: none;
}

.grecaptcha-badge { visibility: hidden; }

.modal.active {
  z-index: 1000;
  visibility: visible;
  background: rgba(0, 0, 0, .9);
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

.modal.inactive {
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
  transition: all 0.2s ease-in-out 0.1s;
  transform: scale(0.9);
}

.modal.active > div {
  z-index: 1000;
  visibility: visible;
  background: rgba(0, 0, 0, .9);
  transform: scale(1);
  transition: all 0.2s ease-in-out 0.1s;
}

.modal.inactive > div {
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
  transition: all 0.2s ease-in-out;
  transform: scale(0.9);
}

.modal a {
  @apply text-teal-500;
}

.tooltip .tooltip-text {
  @apply opacity-0 transition-all duration-300 bg-gray-700 py-1 px-3 rounded-md text-sm;
}

.tooltip:hover .tooltip-text {
  @apply opacity-100;
}